.content-left {
    @media (max-width: 558px) {
        flex-wrap: wrap;
    }
}
.item-active:first-child {
    display: block;
}
.about {
    width: 100%;
    background-color: $accent-color3;
    padding: 28px 22px;
    border-radius: $border-radius2;
    &__title {
        font-size: 19px;
        margin-bottom: 25px;
        font-weight: $font-weight2;
        color: #464646
    }
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: $border-radius;
        font-size: 16.364px;
        font-weight: 600;
        color: #929292;
        width: 100%;
        max-width: 306px;
        padding: 15px 10px;
        background-color: rgba(237, 237, 237, 0.70);
        transition: .3s ease-out;
        &:hover {
            background-color: $accent-color2;
            color: $accent-color3;
            transition: .3s ease-out;
        }
    }
}
.main-content {
    @media (max-width: 788px) {
        &__top {
            margin-bottom: 30px;
        }
    }
}
.item-active {
    @media (max-width: 788px) {
        &__middle {
            gap: 10px;
            flex-wrap: wrap;
        }
        &__link {
            min-height: 39px;
        }
    }
}
.right-items {
    @media (max-width: 788px) {
        margin-bottom: 20px;
        &__middle {
            flex-wrap: wrap;
        }
    }
}
.content-left {
    @media (max-width: 330px) {
        &__link {
            column-gap: 18px;
        }
    }
}
.right-progress {
    @media (max-width: 788px) {
        margin-top: 20px;
    }
}
.about-items {
    display: flex;
    row-gap: 12px;
    flex-direction: column;
    margin-bottom: 36px;
    &__item {
        display: flex;
        column-gap: 32px;
        font-size: $font-size2;
        font-weight: $font-weight;
        color: $font-color5;
    }
}
.profile-change-progress {
    padding: 28px 30px;
    text-align: unset;
}
.profile-change-title {
    max-width: unset;
}
.profile-change-link {
    padding: 5px 26px;
}
.item-active {
    padding: 25px 22px;
    order: -1;
    &:nth-child(2) {
        order: unset;
    }
}
.check-link {
    max-width: 140px;
}