.header {
    margin-bottom: 58px !important;
}
.form-wrapper {
    width: 100%;
}
.login-popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FAF7F5;
    padding: 22px;
    overflow-y: auto;
}
.titles {
    margin-bottom: 155px;
}
.restore-titles {
    margin-bottom: 9px !important;
}
.title {
    text-align: center;
    font-family: Lobster;
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 7px;
    color: #454545;
}
.restore-title {
    max-width: 198px;
    line-height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 113px;
}
.restore-text {
    font-size: 13px;
}
.text {
    color: #6C5E41;
    text-align: center;
    font-style: italic;
    font-weight: 400;
}
.form-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    margin-bottom: 42px;
    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 18px 16px 21px;
        background-color: #fff;
        border-radius: 10px;
        min-height: 57px;
    }
    &__left-btn {
        transition: .3s ease-out;
        &:hover  svg path {
            fill: #FF922D;
        }
        path {
            transition: .3s ease-out;
        }
    }
    &__input {
        display: block;
        width: 100%;
        transition: .2s;
        &:focus {
            padding-top: 8px;
            transition: .2s;
        }
        &:focus ~ label {
            font-size: 10px;
            transition: .2s;
        }
    }
}
.input-wrapper {
    width: 100%;
    position: relative;
    label {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        display: block;
        color: #454545;
        font-size: 16.364px;
        font-weight: 400;
        pointer-events: none;
        transition: .2s;
    }
}
.btn-top {
    width: 100%;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    padding: 15px;
    font-size: 16.364px;
    background-color: #FF922D;
    border-radius: 10px;
    color: #fff;
    margin-bottom: 17px;
}
.change {
    display: block;
    text-align: center;
    font-size: 16.364px;
    font-weight: 600;
    color: #6D7878;
}
.restore-popup {
    background-color: #FAF7F5;
    padding: 20px;
    min-height: 100vh;
}
.restore-items {
    margin-bottom: 31px;
}
.cancel {
    width: 100%;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    padding: 15px;
    border-radius: 10px;
    background: rgba(237, 237, 237, 0.70);
    color: #929292;
}
.restore-btn {
    color: #000;
}
.header-top {
    &__prev {
        display: flex !important;
        @media (max-width: 1037px) {
            display: flex !important;
        }
    }
}