$accent-color: #FAF7F5;
$accent-color2: #FF922D;
$accent-color3: #fff;
$accent-color4: #585858;

$font-color: #808080;
$font-color2: #F77F11;
$font-color5: #454545;
$font-color6: #5A5A5A;

$font-weight: 400;
$font-weight2: 700;

$font-size: 18px;
$font-size2: 14px;
$font-size3: 20px;

$border-radius: 10px;
$border-radius2: 30px;

$line-height: 100%;