.header {
    margin-bottom: 29px;
    column-gap: unset;
}
.main-content {
    &__top {
        display: none;
    }
}
.item-active:first-child {
    display: block;
}
.content-left {
    max-width: unset;
    @media (max-width: 788px) {
        row-gap: unset !important;
    }
    form {
        flex: 1;
    }
    &__cancel {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 15px;
        border-radius: 10px;
        background: rgba(237, 237, 237, 0.70);
        font-size: 16.364px;
        font-weight: 600;
        color: #000;
        margin-top: 17px;
    }
}
.active-progress {
    max-width: unset;
}
.mobile-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 29px;
    height: 30px;
    padding: unset;
}
.item-active:first-child {
    display: block !important;
}