@font-face {
    font-family: 'Lucida Grande';
    src: local('Lucida Grande Regular'), local('Lucida-Grande-Regular'),
        url('LucidaGrande.woff2') format('woff2'),
        url('LucidaGrande.woff') format('woff'),
        url('LucidaGrande.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }