.wrapper {
    display: flex;
    column-gap: 2px;
}
.main-wrapper {
    background-color: $accent-color;
    padding: 30px 0;
    border-radius: 0 30px 30px 0;
    min-height: 100vh;
    @media (max-width: 788px) {
        border-radius: unset;
    }
}