.header {
    @media (max-width: 788px) {
        margin-bottom: 44px;
    }
}
.tabs {
    display: none;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
    padding: 0 20px;
    margin-bottom: 36px;
    @media (max-width: 788px) {
        display: flex;
    }
    &__btn {
        padding: 6px 12px;
        background-color: #DEDEDE;
        border-radius: 9.737px;
        font-weight: 400;
        font-size: 12.432px;
        color: #B0B0B0;
    }
}
.tabs__btn.active {
    background-color: $accent-color2;
    color: $accent-color3;
}