.progress-box {
    width: 100%;
    background-color: $accent-color3;
    border-radius: $border-radius2;
    padding: 30px 38px;
}

.progress-bar {
    width: 173px;
    height: 173px;
    position: relative;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 34px;
    svg {
        width: 100%;
    }
    .fill-svg {
        position: absolute;
        top: 0;
        left: 0;
        overflow: visible;
        transform: rotate(-89deg) translate(-2px, -2px);
    }
    .circle-bar {
        fill: none;
        stroke: url(#gradientColor);
        stroke-width: 13px;
        stroke-dasharray: 436;
    }
    .circle-fill {
        fill: none;
        stroke: url(#gradientColor2);
        stroke-width: 13px;
        stroke-dasharray: 440;
        stroke-dashoffset: calc(440 - (440 * 0.73));
    }
}
.content-inner {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 36px;
    &__percent {
        display: block;
        text-align: center;
        font-size: 50px;
        font-weight: $font-weight2;
        line-height: 50%;
        margin-bottom: 9px;
        color: $font-color2;
    }
    &__text {
        max-width: 87px;
        text-align: center;
        color: #6D7878;
        font-weight: $font-weight2;
        font-size: 10px;
    }
}