.sidebar {
    position: relative;
    width: 100%;
    max-width: 342px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $accent-color;
    padding: 58px 0 37px 0;
    border-radius: 30px 0 0 30px;
    min-height: 100vh;
    transition: .3s ease-out;
    @media (max-width: 1037px) {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
        overflow-y: auto;
        background: linear-gradient(180deg, #FF8B20 0%, #FF7D04 100%);
        box-shadow: unset;
        border-radius: unset;
        transform: translateX(-100%);
    }
    &__close-btn {
        width: 100%;
        display: none;
        justify-content: center;
        align-items: center;
        max-width: 31px;
        height: 31px;
        top: 21px;
        right: 16px;
        position: absolute;
        padding: 7px;
        background-color: $accent-color3;
        border-radius: 31px;
        @media (max-width: 1037px) {
            display: flex;
        }
    }
}
.sidebar-top {
    padding: 0 24px;
    margin-bottom: 53px;
    &__link {
        display: inline-flex;
        align-items: center;
        column-gap: 33px;
    }
    &__img {
        width: 78px;
        height: 78px;
        border-radius: 29.836px;
    }
    &__title {
        max-width: 110px;
        font-size: 23px;
        font-family: Lobster;
        font-weight: $font-weight;
        line-height: $line-height;
        margin-bottom: 3px;
        color: $font-color5;
        @media (max-width: 1037px) {
            color: $accent-color3;
        }
    }
    &__skill {
        display: block;
        font-size: 9.985px;
        font-style: italic;
        font-weight: $font-weight;
        color: #6D7878;
        @media (max-width: 1037px) {
            color: $accent-color3;
        }
    }
}
.sidebar-links {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    @media (max-width: 1037px) {
        row-gap: unset;
        margin-bottom: 72px;
    }
    &__item {
        position: relative;
        padding: 0 24px;
        @media (max-width: 1037px) {
            padding: 0 20px;
        }
    }
    &__link {
        position: relative;
        display: flex;
        column-gap: 33px;
        width: 100%;
        color: $font-color;
        font-size: $font-size;
        font-weight: $font-weight2;
        padding: 14px 20px;
        border-radius: $border-radius;
        transition: .3s ease-out;
        @media (max-width: 1037px) {
            max-width: 270px;
            font-size: 24px;
            font-weight: 300;
            border-radius: 30px;
            color: $accent-color3;
        }
        path {
            transition: .3s ease-out;
            @media (max-width: 1037px) {
                fill: $accent-color3;
            }
        }
        &::before {
            position: absolute;
            content: '';
            left: -33px;
            bottom: 50%;
            transform: translateY(50%);
            width: 15px;
            height: 43px;
            border-radius: 0px 8px 8px 0px;
            background-color: $font-color2;
            opacity: 0;
            visibility: hidden;
            transition: .3s ease-out;
            @media (max-width: 1037px) {
                display: none;
            }
        }
        &:hover {
            background-color: $accent-color3;
            transition: .3s ease-out;
            color: $accent-color4;
            @media (max-width: 1037px) {
                color: $accent-color2;
            }
        }
        &:hover path {
            background-color: $accent-color3;
            fill: $font-color2;
            transition: .3s ease-out;
        }
        &:hover::before {
            opacity: unset;
            visibility: unset;
            transition: .3s ease-out;
        }
    }
}
.sidebar-bottom {
    padding: 0 24px;
    &__btn {
        position: relative;
        width: 100%;
        display: flex;
        column-gap: 40px;
        padding: 14px 20px;
        font-size: $font-size;
        font-weight: $font-weight2;
        border-radius: $border-radius;
        color: $font-color;
        transition: .3s ease-out;
        @media (max-width: 1037px) {
            font-size: 24px;
            font-weight: 300;
            color: $accent-color3;
        }
        path {
            transition: .3s ease-out;
            @media (max-width: 1037px) {
                fill: $accent-color3;
            }
        }
        &::before {
            position: absolute;
            content: '';
            left: -33px;
            bottom: 50%;
            transform: translateY(50%);
            width: 15px;
            height: 43px;
            border-radius: 0px 8px 8px 0px;
            background-color: $font-color2;
            opacity: 0;
            visibility: hidden;
            transition: .3s ease-out;
            @media (max-width: 1037px) {
                display: none;
            }
        }
        &:hover {
            background-color: $accent-color3;
            color: $accent-color4;
            transition: .3s ease-out;
            @media (max-width: 1037px) {
                color: $accent-color2;
            }
        }
        &:hover path {
            fill: #F77F11;
        }
        &:hover::before {
            opacity: unset;
            visibility: unset;
        }
    }
}
.sidebar-links__link.active {
    background-color: $accent-color3;
    color: #585858;
}
.sidebar-links__link.active path {
    fill: #F77F11;
}
.sidebar-links__link.active::before {
    opacity: unset;
    visibility: unset;
}
.sidebar.active {
    transform: unset;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
}